<h1>New city</h1>
<h4>Pay attention to sign of long/lat. Western longitudes are negative. Latitudes below the equator are negative as well.</h4>

<%= render 'form' %>

<%= link_to 'Back', cities_path %>
